<div>
<% data.okrs.each do |okr| %>
  <% if okr.ref == ref_key && okr.fiscal_year == fiscal_year_key && okr.quarter == quarter_key %>
    <table style="width: 100%">
      <colgroup>
        <col span="1" style="width: 90%;">
        <col span="1" style="width: 10%;">
      </colgroup>
      <tr>
        <th><strong>Objective: <a href="<%= okr.source %>"><%= okr.objective %></a></strong></th>
        <th><code><% if okr.progress %><%= okr.progress.to_s %><% else %>X<% end %>%</code></th>
      </tr>
      <% if okr.key_results %>
        <% okr.key_results.each do |kr| %>
          <tr>
            <td>Key Result: <a href="<%= kr.source %>"><%= kr.title %></a></td>
            <td><code><% if kr.progress %><%= kr.progress.to_s %><% else %>X<% end %>%</code></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% end %>
</div>
